$color-primary: #3E9CDC;
$color-bg-dark: #10101DE5;
$color-white: #ffffff;
$color-bg-footer: #3D4050;
$color-bg-order: #272733;

$font-main: "Lato", sans-serif;

$bp-mobile: 320px;
$bp-tablet: 800px;
$bp-desktop: 1200px;
